:root{
    --dark-color: #0a0012;
    --mid-color: #1f0037;
    --light-color: #35005d;
}

body{
    background-color: var(--dark-color);
    color: aliceblue;
}


/* Hero styles */

.hero-banner div{
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */

}

.hero-banner h2{
    text-align: center;
    background-color: var(--light-color);
    display: inline-block;
    padding: 3px 7px 3px 10px;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
    box-shadow: 0px -2px 4px 0px #0a0012;
}

/* Header / nav styles */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--mid-color);
    box-shadow: #000000;
}

header h1{
    margin: 5px 10px
}

nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}

nav ul li{
    margin: 5px 10px;
}

nav ul li a{
    color: #7315ba
}

