:root{
    --dark-color: #0a0012;
    --mid-color: #1f0037;
    --light-color: #35005d;
    --my-box-shadow: 0px 0px 10px 0px #0a0012;
    --text-color: #daadfd;
}

body{
    background-color: var(--dark-color);
    color: aliceblue;
}


/* Header / nav styles */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--mid-color);
    margin-bottom: 10px;
}

header h1{
    margin: 5px 10px
}

header h1:after{
    content: url(../images/avatar-icon.jpg);
    margin-left: 8px;
    position: relative;
    bottom: -5px;
    border-radius: 4px;;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}

nav ul li{
    margin: 5px 10px;
}

nav ul li a{
    color: var(--text-color)
}

/* Hero styles */

.hero-banner div{
    display: flex;
    justify-content: center;
}

.hero-banner h2{
    text-align: center;
    background-color: var(--light-color);
    display: inline-block;
    padding: 3px 7px 3px 10px;
    border-radius: 5px;
    position: relative;
    bottom: 25px;
    box-shadow: 0px -2px 4px 0px #0a0012;
}


/* Main section styles */

main{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 5px;
    border-radius: 4px;
}

/* About me section styles */

section#about{
    width: 35%;
    background-color: rgba(162, 8, 245, 0.1);
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: var(--my-box-shadow);
}

#about h2{
    margin-bottom: 5px;
}

#about p{
    color: var(--text-color);
}

/* Portfolio styles */

section#work{
    max-width: 60%;
    background-color: rgba(171, 171, 171, 0.05);
    margin: 0 auto;
    padding: 15px;
    min-height: 700px;
    border-radius: 4px;
    flex-grow: 2;
    box-shadow: var(--my-box-shadow)
}

#work h2{
    text-align: center;
}



#portfolio-grid-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 25% 25%;
    grid-template-areas: 
    "feature feature"
    "image-2 image-3"
    "image-4 image-5";
    height: 95%;

}

#grid-feature-image{
    grid-area: feature;
    background-image: url(../images/Money.jpg);
    margin-bottom: 1px
}

#grid-image-2{
    grid-area: image-2;
    background-image: url(../images/notes.jpg);
}

#grid-image-3{
    grid-area: image-3;
    background-image: url(../images/to-do.jpg);

}

#grid-image-4{
    grid-area: image-4;
    background-image: url(../images/letters.jpg);
}

#grid-image-5{
    grid-area: image-5;
    background-image: url(../images/Stars.jpg);

}

.grid-image{
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* Footer styles */

footer{
    background-color: var(--mid-color);
    margin-top: 20px;
    height: 100px;
}

footer h2{
    text-align: center;
    margin-bottom: 12px;
    padding-top: 5px;
}

footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

footer.method-of-contact{
    margin-right: 10px;
}

.method-of-contact p{
    color: var(--text-color);
}






